<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{pageTitle}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let unit of units">
            <ion-thumbnail item-start>
                <img src="assets/icon/favicon.ico">
            </ion-thumbnail>
            <h2>{{unit.name}}</h2>
            <p>{{unit.description}}</p>
            <button ion-button clear item-end (click)="goToUnitPage(unit.id)">View</button>
        </ion-item>
    </ion-list>
    <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title}}</b>
    </div>
</ion-content>