<ion-header>
    <ion-navbar color='danger'>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        <ion-title>Unit</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <img src={{unit.assets.image}} />
        <ion-card-content>
            <ion-card-title text-center>{{unit.name}}</ion-card-title>
            {{unit.description}}
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <ion-card-title text-center>Informations</ion-card-title>
            <ion-grid>
                <ion-row>
                    <ion-col text-center col-4>
                        <h2>Cost</h2>
                    </ion-col>
                    <ion-col text-center>
                        <ion-img src={{minerals_img}}></ion-img> {{unit.cost.minerals}}
                    </ion-col>
                    <ion-col text-center>
                        <ion-img src={{gas_img}}></ion-img> {{unit.cost.gas}}
                    </ion-col>
                    <ion-col text-center>
                        <ion-img src={{buildtime_img}}></ion-img> {{unit.cost.time}}
                    </ion-col>
                    <ion-col text-center>
                        <ion-img src={{supply_img}}></ion-img> {{unit.cost.supply}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col text-center col-4>
                        <h2>Attributes</h2>
                    </ion-col>
                    <ion-col text-center>
                        <ion-badge color='primary' class='badge-margin-right' *ngFor='let attribute of unit.information.attributes'>{{attribute}}</ion-badge>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col text-center col-4>
                        <h2>Target</h2>
                    </ion-col>
                    <ion-col text-center>
                        <ion-badge color={{groundBadge}}>Ground</ion-badge>
                        <ion-badge color={{airBadge}}>Air</ion-badge>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf='canAttack'>
                    <ion-col text-center col-4>
                        <h2>Attack</h2>
                    </ion-col>
                    <ion-col text-center>
                        <ion-row *ngFor='let attack of unit.information.attacks'>
                            <ion-col>
                                Target: <span *ngFor='let target of attack.target'>{{parseTarget(target)}} </span>
                            </ion-col>
                            <ion-col>
                                Damage: {{attack.damage}}
                            </ion-col>
                            <ion-col>
                                DPS: {{attack.dps}}
                            </ion-col>
                            <ion-col>
                                CD: {{attack.cooldown}}
                            </ion-col>
                            <ion-col>
                                Range: {{attack.range}}
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col text-center col-4>
                        <h2>Defence</h2>
                    </ion-col>
                    <ion-col text-center>
                        <ion-badge color='sc2-life'>Life: {{unit.information.defence.life}}</ion-badge>
                        <ion-badge *ngIf='hasShield' color='sc2-shield'>Shield: {{unit.information.defence.shield}}</ion-badge>
                        <ion-badge color='sc2-armor'>Armor: {{unit.information.defence.armor}}</ion-badge>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf='hasEnergy'>
                    <ion-col text-center col-4>
                        <h2>Energy</h2>
                    </ion-col>
                    <ion-col text-center>
                        <ion-badge color='sc2-energy'>Spawn: {{unit.information.energy.spawn_energy}}</ion-badge>
                    </ion-col>
                    <ion-col text-center>
                        <ion-badge color='sc2-energy'>Full: {{unit.information.energy.full_energy}}</ion-badge>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf='hasBuilding'>
                    <ion-col text-center col-4>
                        <h2>Origin</h2>
                    </ion-col>
                    <ion-col text-center>
                        Building: {{unit.source.name}}
                    </ion-col>
                    <ion-col text-center>
                        Hotkey: {{unit.source.hotkey}}
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col text-center col-4>
                        <h2>Others</h2>
                    </ion-col>
                    <ion-col text-center>
                        <ion-row>
                            <ion-col text-center>
                                Sight: {{unit.information.sight.radius}}
                            </ion-col>
                            <ion-col text-center>
                                Speed: {{unit.information.speed.value}}
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf='hasCargo'>
                            <ion-col text-center>
                                Cargo Size: {{unit.information.cargo.size}}
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <ion-card-title text-center>Upgrades</ion-card-title>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <ion-card-title text-center>Abilities</ion-card-title>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <ion-card-title text-center>Strong against</ion-card-title>
            <ion-list>
                <ion-item *ngFor='let strongAgainst of unit.strongAgainst'>
                    <ion-thumbnail item-start>
                        <img src={{unit.assets.thumbnail}}>
                    </ion-thumbnail>
                    <h2>{{unit.name}}</h2>
                    <p>{{unit.description}}</p>
                    <button ion-button secondary item-end (click)='goToUnitPage(unit.id)'>View</button>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
            <ion-card-title text-center>Weak against</ion-card-title>
            <ion-item *ngFor='let strongAgainst of unit.strongAgainst'>
                <ion-thumbnail item-start>
                    <img src={{unit.assets.thumbnail}}>
                </ion-thumbnail>
                <h2>{{unit.name}}</h2>
                <p>{{unit.description}}</p>
                <button ion-button secondary item-end (click)='goToUnitPage(unit.id)'>View</button>
            </ion-item>
        </ion-card-content>
    </ion-card>
</ion-content>